:root{
  font-size: 16px;
}
.header {
  background-image: url("../img/Layer\ 21@1X.png");
  width: 100%;
  height: 900px;
  background-size: 100% 100%;
}
body,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}
.header-first-block {
  color: white;
  padding-top: 531px;
  padding-left: 215px;
}
h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3em;
}
p {
  font-size: 1.125em;
}
.header-second-block {
  text-align: center;
  width: 831px;
  height: 129px;
  border: 1px solid white;
  font-variant: small-caps;
  font-size: 3.375em;
  padding-top: 1.15em;
  background-color: rgba(0, 0, 0, .2);
}
.header-second-block span {
  margin-right: 0.5em;
  color: #f1ad1d;
}

.conteiner{
  width: 100%;
  overflow: auto;
}

.conteiner_block_header{
  margin-top: 50px;
  text-align: center;
  font-size: 1.0625em;
}

.conteiner_block_header h3, .conteiner_block_header p {
  margin-top: 25px;
}

hr{
  margin-top: 20px;
  border: none;
  background: #f1ad1d;
  width: 50px;
  height: 2px;
  margin: 50px auto;
}

.award{
  width: 280px;
  margin: 0 auto;
  margin-top: 70px;
}
h3{
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 1.375em;

}
.navigation{
  height: 60px;
  overflow: auto;
  border-bottom-width: 3px;
  border-bottom-color: #f1b128;
  border-bottom-style: solid;
  text-transform: uppercase;
  width: 80%;
  margin:auto;
  margin-top:80px;
  font-family: Roboto;
}
.navigation li{
  list-style: none;
  margin-left: 50px;
  float: left;
  font-size: 1.2em;
  margin-top: 3px;
  transition: all .7s ;
}
.navigation > *{
  float: left;
}
ul{
  margin: 0;
}
.navigation > div:first-of-type{
  margin-right: 120px;
}
.sertin_class{
  font-size:1.8em;
}
ul li:hover::after{
  /*content: url(../img/arrow.png); */
    /* content: url(../img/arrow.png); */
    content: "";
    display: inline-block;
    background-image: url(../img/arrow.png);
    background-position: 1px 5px;
    background-repeat: no-repeat;
    color: #f1b128;
    width: 11px;
    height: 13px;
}
  
ul li:hover{
  color: #f1b128;

}

.content-conteiner {
  width: 47%;
  min-height: 318px;

}
.content-conteiner > div{ 
  display: flex;
}
.img-all{ width: 50%;
   height: 148px;
   background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-right: 12px;
}
.content-picture1 {
  background-image: url("../img/Layer.png");
  margin-top: 5px;

}

.content-picture2 {
  background-image: url("../img/Layer\ 24@1X.png");
  margin-top: 5px;
}

.content-picture3 {
  background-image: url("../img/Layer\ 25@1X.png");
  margin-top: 10px;
}
.content-picture4 {
  background-image: url("../img/Layer\ 26@1X.png");
  margin-top: 10px;
}



.second-conteiner {
  width: 80%;
  margin: 0 auto;
  display: flex;

}

.third-conteiner {
  width: 53%;
  margin-left: 20px;
}

h3{
  margin: 0;
  padding: 0;

}
.third-conteiner{
  font-size: 1.125em;
}

.block-text {
  margin-top: 22px;
  font-size: 0.9em;
  font-family: 'Roboto', sans-serif;
}

.block-btn {
  width: 176px;
  height: 51px;
  background-color: #f1ad1d;
 text-align: center;
 line-height: 51px;
margin-top: 27px;
}

.block-btn a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;

}

.third-conteiner span {
  color: #f1ad1d;
}

.section-score{
  height: 380px;
  background-image: url("../img/score.png");
  margin-top: 120px;
  margin-bottom:114px ;
}
.section-score p{
  text-align: center;
  padding-top: 151px;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.orange{
  color: #f1ad1d;
}
.article-foto-people{
  display: grid;
  grid-template-columns:repeat(6, 1fr) ;
  grid-template-rows: 180px 180px ;
  grid-gap: 5px;
  width: 80%;
  margin: auto;
}

.article-foto-people > div:nth-child(1) {
  background: url(../img/photo_people/Layer\ 27@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(2) {
  background: url(../img/photo_people/Layer\ 28@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(3) {
  background: url(../img/photo_people/Layer\ 29@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(4) {
  background: url(../img/photo_people/Layer\ 30@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(5) {
  background: url(../img/photo_people/Layer\ 31@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(6) {
  background: url(../img/photo_people/Layer\ 32@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}

.article-foto-people > div:nth-child(7) {
  background: url(../img/photo_people/Layer\ 34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(8) {
  background: url(../img/photo_people/Layer\ 34@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(9) {
  background: url(../img/photo_people/Layer\ 35@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(10) {
  background: url(../img/photo_people/Layer\ 36@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(11) {
  background: url(../img/photo_people/Layer\ 37@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people > div:nth-child(12) {
  background: url(../img/photo_people/Layer\ 38@1X.png) 100% 100% no-repeat;
  background-size: 100% 100%;
}
.article-foto-people .block_text {
  width: 136px;
  height: 42px;
  background-color: #333333;
  position: relative;
  top: 65%;
  left: 10%;
  line-height: 42px;
  font-size: 14px;
  color: rgba(255, 255, 255, 255);
  text-align: left;
  padding-left: 15px;
}

.block-text > span {
  color: ;
}
.center {
  width: 80%;
  margin: 0 auto;

}
.block_text_boot {
  background-color: #333333;
  width: 251px;
  height: 56px;
  line-height: 56px;
  text-align: center;
  color: rgba(255, 255, 255, 255);

}
.own_service {
  border-bottom: 2px solid black;

}